@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}

html,
body {
  scroll-behavior: none;
  @apple bg-gray-50;
  /* @apply mb-4; */
  /* @apply ml-45;
  @apply mr-45;
  @apply mt-4;
  @apply bg-black; */
}

/* hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
}

.select-style {
  @apply w-full p-4 bg-slate-50 border border-slate-100 rounded-2xl text-sm font-bold appearance-none shadow-inner outline-none focus:ring-4 focus:ring-indigo-50/50 transition-all cursor-pointer;
}

.select-icon {
  @apply absolute right-4 top-1/2 -translate-y-1/2 text-slate-400 pointer-events-none;
}


        /* Scrollbar styling */
/* 
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6b46c1, #4299e1);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #805ad5, #3182ce);
} */
